@import "tailwindcss";



.mycontainer {
  width: 90%;
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

@keyframes shimmerMove {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}

@keyframes shimmerSlide {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}